<header>
    <nav>
        <ul>
            <li><a href="/dashboard">Ver Todo</a></li>
            <li><a href="/dashboard/crear">Nuevo Producto</a></li>
            <li><a href="/dashboard/eliminar">Eliminar Producto</a></li>
        </ul>
    </nav>
    <hr>
</header>